<!DOCTYPE html>
<html lang="vi">
  <head>
    <module href="/components/head.html"></module>
    <script>
      var test = 1;
    </script>
  </head>

  <body
    class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover dark"
    style="background-image: url('./images/dance.svg')"
  >
    <div
      class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0"
    >
      <!--Main Col-->
      <module href="/components/col-main.html"></module>

      <!--Img Col-->
      <module href="/components/col-img.html"></module>

      <!-- Pin to top right corner -->
      <module href="/components/col-corner.html"></module>

      <!-- <module href="/components/nha-mai-teo.html"></module> -->
    </div>

    <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script type="">
      tippy(".link", {
        placement: "bottom",
      });

      //Toggle mode
      const toggle = document.querySelector(".js-change-theme");
      const body = document.querySelector("body");
      const profile = document.getElementById("profile");

      toggle.addEventListener("click", () => {
        if (body.classList.contains("text-gray-900")) {
          toggle.innerHTML = "☀️";
          body.classList.remove("text-gray-900");
          body.classList.add("text-gray-100");
          profile.classList.remove("bg-white");
          profile.classList.add("bg-gray-900");
        } else {
          toggle.innerHTML = "🌙";
          body.classList.remove("text-gray-100");
          body.classList.add("text-gray-900");
          profile.classList.remove("bg-gray-900");
          profile.classList.add("bg-white");
        }
      });
    </script>
    <script src="bundle.js" defer async></script>
  </body>
</html>
