<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Jack Bereson | Fullstack JS Dev</title>
  <meta
    name="description"
    content="✨✨✨ Jack Bereson - Fullstack JS Dev ✨✨✨"
  />
  <meta
    name="keywords"
    content="jackbereson, fullstack, js, js dev, dev, developer, fullstack js, javascript, jack, bereson, fullstack js dev,coding, bug, fix, code, vscode, command, cmd"
  />

  <link
    href="https://fonts.googleapis.com/css?family=Nunito:400,700,800"
    rel="stylesheet"
  />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <!-- Primary Meta Tags -->
  <title>Jack Bereson - Fullstack JS Dev</title>
  <meta name="title" content="Jack Bereson - Fullstack JS Dev" />
  <meta
    name="description"
    content="✨✨✨ Jack Bereson - Fullstack JS Dev ✨✨✨"
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://jackbereson.github.io/" />
  <meta property="og:title" content="Jack Bereson - Fullstack JS Dev" />
  <meta
    property="og:description"
    content="✨✨✨ Jack Bereson - Fullstack JS Dev ✨✨✨"
  />
  <meta
    property="og:image"
    content="https://jackbereson.github.io/jackbereson.png"
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://jackbereson.github.io/" />
  <meta property="twitter:title" content="Jack Bereson - Fullstack JS Dev" />
  <meta
    property="twitter:description"
    content="✨✨✨ Jack Bereson - Fullstack JS Dev ✨✨✨"
  />
  <meta
    property="twitter:image"
    content="https://jackbereson.github.io/jackbereson.png"
  />

  <link
    rel="stylesheet"
    href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
  />
  <link rel="stylesheet" type="text/css" href="index.css" />
</head>
